body {
	font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.mgdiv {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

th, td {
	text-align: center;
}

.table > tbody > tr > td.padding-md, .table > thead > tr > th.padding-md {
	padding-left: 16px;
	padding-right: 16px;
}

.tz {
	margin-left: 4px;
	color: #888;
	font-size: 60%;
	top: -.7em;
}

#loading {
	margin: 20px 0;
	font-size: 16px;
	text-align: center;
}

#loading p {
	margin-bottom: 8px;
}

strong {
	font-size: 116%;
}

#footer p {
	margin-bottom: 0;
}

.display-hidden {
	display: none;
}

.container-fluid {
	width: 720px;
	margin: 0;
}
